.quoteContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  color: var(--color-primary);

  .icon {
    height: 1rem;
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 1s;

    &:active {
      transform: rotate(0deg);
      transition: 0s;
    }
  }
}

.quote,
.quoteCitation {
  font-size: 0.75rem;
  line-height: 1.375rem;
}

.top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
