.mainContainer {
  color: var(--color-primary);

  display: flex;
  flex-direction: column;
  gap: 3rem;

  &.expandedWrapper {
    transform: translateY(-95%);
    will-change: transform;
    transition: transform 2s ease-in-out;
  }

  &.collapsedWrapper {
    transform: translateY(0%);
    will-change: transform;
    transition: transform 2s ease-in-out;
  }
}

.dateTimeContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.greetingBlock {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .icon {
    height: 1.5rem;
    width: 1.5rem;
    align-self: center;
  }

  .greeting {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    align-self: center;
  }
}

.currently {
  display: none;
}

.timeBlock {
  display: flex;
  flex-direction: row;
  gap: 0.3125rem;
}

.time {
  font-size: 6.25rem;
  line-height: 6.25rem;
  letter-spacing: -0.1563rem;
}

.timezone {
  font-weight: 400;
  align-self: flex-end;
  letter-spacing: 3px;
}

.location {
  font-size: 0.9375rem;
  line-height: 1.75rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

.drawerBtn {
  width: 115px;
  background-color: var(--color-primary);
  padding-top: 0.1875rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.9375rem;

  border: none;
  border-radius: 1.75rem;

  display: flex;
  flex-direction: row;

  .drawerLabel {
    color: var(--color-tertiary);
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.2344rem;
    text-transform: uppercase;
    align-self: center;
  }

  .arrowIcon {
    margin-left: auto;
    height: 2rem;
  }

  .expanded {
    transform: rotate(0deg);
    transition: transform 1s;
  }

  .collapsed {
    transform: rotate(180deg);
    transition: transform 1s;
  }
}

@media (min-width: 768px) {
  .mainContainer {
    &.expandedWrapper {
      transform: translateY(-125%);
      will-change: transform;
      transition: transform 2s ease-in-out;
    }

    &.collapsedWrapper {
      transform: translateY(0%);
      will-change: transform;
      transition: transform 2s ease-in-out;
    }
  }

  .greetingBlock {
    .icon {
      height: 1.5rem;
      width: 1.5rem;
      align-self: center;
    }

    .greeting {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.75rem;
      letter-spacing: 0.225rem;
      text-transform: uppercase;
      align-self: center;
    }
  }

  .currently {
    display: inline-block;
  }

  .time {
    font-size: 10.9375rem;
    line-height: 10.9375rem;
    letter-spacing: -0.2737rem;
  }

  .timezone {
    font-size: 2rem;
    line-height: 1.75rem;
    letter-spacing: 3px;
  }

  .location {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .drawerBtn {
    width: 146px;
    background-color: var(--color-primary);
    padding-top: 0.5rem;
    padding-right: 0.5625rem;
    padding-bottom: 0.5rem;
    padding-left: 1.3125rem;

    .drawerLabel {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.75rem;
      letter-spacing: 0.3125rem;
    }

    .arrowIcon {
      margin-left: auto;
      height: 2.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .mainContainer {
    flex-direction: row;

    &.expandedWrapper {
      transform: translateY(-125%);
      will-change: transform;
      transition: transform 2s ease-in-out;
    }

    &.collapsedWrapper {
      transform: translateY(0%);
      will-change: transform;
      transition: transform 2s ease-in-out;
    }
  }

  .greetingBlock {
    .icon {
      height: 1.5rem;
      width: 1.5rem;
    }

    .greeting {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.75rem;
      letter-spacing: 0.25rem;
      text-transform: uppercase;
      align-self: center;
    }
  }

  .timeBlock {
    gap: 0.6875rem;
  }

  .time {
    font-size: 12.5rem;
    line-height: 12.5rem;
    letter-spacing: -0.3125rem;
  }

  .timezone {
    font-size: 2.5rem;
    line-height: 1.75rem;
    margin-bottom: 1.6875rem;
  }

  .location {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .drawerBtn {
    margin-left: auto;
    height: 3.5rem;
    width: 146px;
    background-color: var(--color-primary);
    padding-top: 0.5rem;
    padding-right: 0.5625rem;
    padding-bottom: 0.5rem;
    padding-left: 1.3125rem;
    cursor: pointer;

    align-self: flex-end;

    .drawerLabel {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.75rem;
      letter-spacing: 0.3125rem;
    }

    .arrowIcon {
      margin-left: auto;
      height: 2.5rem;
    }
  }
}
